---
title: "FinEdge - About"
---

<style>

 #about{
    background-color: antiquewhite;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 #about img{
    border-radius: 50%;
 }

 #about img:hover{
    box-shadow: 1px 1px 1px 1px #000;

 }
</style>
<section id="about" class="p-5">
    <div class="container">
      <div class="row">
          <div class="col-lg-6 col-sm-12 justify-content-center align-items-center m-auto">
              <img src="src/components/Asset/FinEdge.jpg" alt="FinEdge Office" style="max-width: 100%; height: auto;">
          </div>
          <div class="col-lg-6 col-sm-12 text-center pt-5">
              <h2>About FinEdge</h2>
              <p>
              FinEdge is a cutting-edge fintech startup focused on transforming cross-border payments. We believe in a world where geographic boundaries should not limit individuals and businesses from making seamless transactions.
              </p>
              <p>
              Our mission is to provide fast, secure, and cost-effective solutions for international money transfers. With our innovative platform and technology-driven approach, we aim to revolutionize the way people send and receive money across borders.
              </p>
              <p>
              At FinEdge, we leverage the latest advancements in technology and blockchain to ensure transparency, speed, and affordability in cross-border transactions. We strive to simplify the payment process and eliminate the inefficiencies and high costs associated with traditional banking systems.
              </p>
          </div>
      </div>
    </div>
</section>
  

