---
import HomeImg from '../components/Asset/Home.png'
---

<div class="row justify-content-around text-center justify-content-center align-items-center p-5">
    <div class="col-lg-4">
        <h1 class="m-5">FinEdge</h1>
        <p>
            FinEdge is a cutting-edge fintech company that is revolutionizing the way people manage their finances. We are committed to providing innovative and convenient solutions that empower individuals and businesses to achieve their financial goals with ease.
        </p>
    </div>
    <div class="col-lg-4 w-sm-50">
        <img src={HomeImg} alt="" class="w-sm-50">
    </div>
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
    *{
        background-color: black;
        color: aliceblue;
        font-family: 'Roboto Mono', monospace;
    }
</style>

