
<style>
    @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
    *{
        font-family: 'Kanit', sans-serif;
    }
    .card:hover{
        transform: scale(1.04);
        transition: ease-in-out 1s;
    }
    .card{
        border: 1px solid #000;
    }
    .btn{
        position: relative;
        bottom: -0!important;
    }
    
</style>

<section id="services">
  <h1 class="text-center m-5">-SERVICES-</h1>
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row justify-content-center">
          <div class="card col-lg-4 m-5" style="width: 18rem;">
            <img src="src/components/Asset/business_payments.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Business Payments</h5>
              <p class="card-text">Simplify global transactions with our comprehensive payment solution. Transfer funds to suppliers, manage invoices, and streamline payroll with ease.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card col-lg-4 m-5" style="width: 18rem;">
            <img src="src/components/Asset/Money_transfer.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Money Transfer</h5>
              <p class="card-text">Send money worldwide with speed and security. Enjoy competitive rates and transparent fees for hassle-free international transactions.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card col-lg-4 m-5" style="width: 18rem;">
            <img src="src/components/Asset/payments.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Real-time Payment Tracking</h5>
              <p class="card-text">Stay informed and in control with instant updates on your international payments. Track the progress of your transactions for transparency and peace of mind.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row justify-content-center">
          <div class="card col-lg-4 m-5" style="width: 18rem;">
            <img src="src/components/Asset/Personal_Finance_Management.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Expense Tracking</h5>
              <p class="card-text">Effortlessly track your expenses and gain insights into your spending habits. Stay organized and in control of your finances with our intuitive expense tracking tool.</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
          <div class="card col-lg-4 m-5" style="width: 18rem;">
            <img src="src/components/Asset/Investment_Solutions.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Investment Solutions</h5>
              <p class="card-text">Grow your wealth with a wide range of investment options tailored to your financial goals. Explore investment products such as stocks, bonds, mutual funds, and receive personalized advice from our experienced financial advisors.</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
          <div class="card col-lg-4 m-5" style="width: 18rem;">
            <img src="src/components/Asset/Financial_Education.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Financial Education</h5>
              <p class="card-text">Expand your financial knowledge and make informed decisions with our comprehensive financial education resources. Access articles, webinars, tutorials, and interactive tools to improve your financial literacy.</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<!--- -->
